.igwv_ElectricBlueControl
{
	border-width:0px;
	margin-top:2px;
}


.igwv_ElectricBlueCaptionHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header.gif);
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border-top:solid 1px #052684;
	border-right:solid 1px #052684;
	border-bottom:solid 0px #052684;
	border-left:solid 1px #052684;
	line-height: 16px;
	height: 30px;
	color:White;
	text-align:center;
}


.igwv_ElectricBlueDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header_hover.gif);
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	padding-right:5px;
	height: 18px;
	cursor:default;
	color:Black;
	text-align:right;
}


.igwv_ElectricBlueDay
{
	background-repeat:repeat-x;
	background-position:right top ;
	background-image: url(images/bg_top.gif);
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	cursor:hand;
}


.igwv_ElectricBlueAppointment
{
	margin:0px 1px 0px 1px;
	padding:2px;
	line-height: 150%;
	white-space: nowrap;
	cursor:pointer;
}


.igwv_ElectricBlueAllDayEvent
{
	background-color:#FAFAFA;
	border:solid 1px Silver;
}


.igwv_ElectricBlueNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	cursor:hand;
	vertical-align:middle;
}


.igwv_ElectricBlueDayArea
{
	border:solid 1px #052684;
}


.igwv_ElectricBlueTodayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:center ;
	color:White;
}


.igwv_ElectricBlueToday
{
}


.igwv_ElectricBlueSelectedAppointment
{
	background-color:#DAEAFF;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	padding:1px;
	cursor:pointer;
	color:#052684;
}


.igwv_ElectricBlueActiveDayHeader
{
	background-image: url(images/header.gif);
	color:White;
}


.igwv_ElectricBlueActiveDay
{
	background-color:#226DA7;
	background-position:bottom ;
	background-image: url(images/activingbg.jpg);
}


