<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="BySite" value="False" />
    <add key="App.Dir" value="C:\Laptop\IPMonDev2013\WebSite\" />
    <add key="DataBaseCon" value="Data Source=KIRAN;Initial Catalog=liveMon_Blank;uid=sa;pwd=kiran"/>
    <add key="DataBaseCon11" value="Data Source=197.81.207.71;Initial Catalog=liveMonRSSC;uid=LivemonDev;pwd=LivemonDev1234;" />
    <add key="DefaultImage" value="C:\Laptop\IPMonDev2013\website\images\computer.ico" />
    <add key="Remote.Settings" value="tcp://localhost:8089/IPMon" />
    <add key="Global.Objects.Age" value="60" />
    <add key="Remote1.Settings" value="Hello Roger" />
    <add key="Web.HomeDir" value="c:\Laptop\IPMonDev2014CloudTFS\website" />
    <!--C:\Laptop\Ipmondev2010\website\"/>-->
    <add key="ProxyMode" value="0" />
    <add key="RemoteWebSite" value="http://ipmondemo" />
    <add key="emailAlertOnSessionStart" value="false" />
    <add key="emailAlertOnSessionEnd" value="false" />
    <add key="SMTPServer" value="smtp.saix.net" />
    <add key="AlertEmail" value="alert@livemonitoring.co.za" />
    <add key="SMS.Timer" value="20000" />
    <add key="SMS.0.DeviceType" value="0" />
    <add key="SMS.0.Comport" value="5" />
    <add key="SMS.0.ComSpeed" value="115200" />
    <add key="SMS.0.ComDataBits" value="8" />
    <add key="SMS.0.ComParity" value="0" />
    <add key="SMS.0.ComStopBits" value="1" />
    <add key="SMS.0.ComBuffSize" value="300" />
    <add key="SMS.0.Handshaking" value="2" />
    <add key="SMS.0.PinNumber" value="5270" />
    <add key="OnlineReport.0.From" value="roger@livemonitoring.co.za" />
    <add key="OnlineReport.0.ReportName" value="liveMon Report" />
    <add key="Email.0.SMTPServer" value="mail.livemonitoring.co.za" />
    <add key="Email.0.From" value="alert@livemonitoring.co.za" />
    <add key="Email.0.HostPort" value="587" />
    <add key="Email.0.User" value="alert@livemonitoring.co.za" />
    <add key="Email.0.Password" value="0p9t8m7" />
    <add key="Email.10.DeliveryNotificationTo" value="alert@livemonitoring.co.za" />
    <add key="Email.10.ReadReceiptTo" value="alert@livemonitoring.co.za" />
    <add key="Email.0.DebugOutput" value="True" />
    <add key="Email.10.SMTPServer" value="smtp.mweb.net" />
    <add key="Email.10.From" value="roger@livemonitoring.co.za" />
    <add key="Email.10.DeliveryNotificationTo" value="roger@livemonitoring.co.za" />
    <add key="Email.10.ReadReceiptTo" value="roger@livemonitoring.co.za" />
    <add key="Email.10.DebugOutput" value="True" />
    <add key="Email.13.User" value="JohnDoe" />
    <add key="Email.13.Password" value="Passme" />
    <add key="Images.TempDir" value="C:\Laptop\Ipmondev2010\WebSite\Reportimages\" />
    <add key="DefaultServerDisplay" value="1" />
    <add key="DefaultRegionDisplay" value="2" />
    <add key="DefaultDeviceDisplay" value="3" />
    <add key="DefaultMapDisplay" value="7" />
    <add key="SLServiceRef" value="http://localhost:57666/SLIPmonInterfaceSVC.svc" />
    <!--http://localhost:52633/SLIPmonInterfaceSVC.svc"-->
    <add key="PmaxServiceRefsms" value="http://produmax.smiths.local/produmaxlive.svc" />
    <add key="PmaxServiceRef" value="http://localhost:53510/produmaxlive.svc" />
    <add key="CO2KgKwh" value="1.03" />
  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-website2016-20160511120257.mdf;Initial Catalog=aspnet-website2016-20160511120257;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="IPMonConnectionString" connectionString="Data Source=KIRAN;Initial Catalog=liveMon_Blank;uid=sa;pwd=kiran" providerName="System.Data.SqlClient"/>-->
    <add name="IPMonConnectionString" connectionString="Data Source=160.119.100.180;Initial Catalog=liveMon_Blank;uid=sa;pwd=tibco1" providerName="System.Data.SqlClient"/>
    <add name="IPMonConnectionStringReport" connectionString="Data Source=ROGERLT10\SQLEXPRESS2014;Initial Catalog=ReportServer$SQLEXPRESS2008R2;uid=IPMon;pwd=IPMon" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection1" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-website2016-20160511120257.mdf;Initial Catalog=aspnet-website2016-20160511120257;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IPMonConnectionString1" connectionString="Data Source=197.81.207.71;Initial Catalog=liveMonRSSC2018;uid=LivemonDev;pwd=LivemonDev1234" providerName="System.Data.SqlClient" />
    <add name="IPMonConnectionStringReport1" connectionString="Data Source=197.81.207.71;Initial Catalog=ReportServer;uid=LivemonDev;pwd=LivemonDev1234;" providerName="System.Data.SqlClient" />
    <add name="IPMonConnectionStringReport12" connectionString="Data Source=192.168.0.4\SQL2008R2STD;Initial Catalog=reportserver$SQL2008R2STD;Integrated Security = True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
   
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">

    
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    
     
  </system.web>
  
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>

    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<defaultDocument>
      <files>
        <clear />
        <add value="~/Index.aspx"/>
      </files>
    </defaultDocument>-->
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="website2016V2.EquipmentLayoutAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1" maxReceivedMessageSize="10000000" maxBufferSize="10000000">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="website2016V2.SLIPmonInterfaceSVC.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="website2016V2.SLIPmonInterfaceSVC">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1"
          contract="website2016V2.SLIPmonInterfaceSVC" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="website2016V2.EquipmentLayout">
        <endpoint address="" behaviorConfiguration="website2016V2.EquipmentLayoutAspNetAjaxBehavior"
          binding="webHttpBinding" contract="website2016V2.EquipmentLayout" />
      </service>
    </services>
  </system.serviceModel>

</configuration>