.igdv_Office2007BlackControl
{
}


.igdv_Office2007BlackCaptionHeader
{
	background-color:#DBDEE1;
	background-repeat:repeat-x;
	background-image: url(images/black_header.jpg);
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom:5px;
	line-height: 20px;
	height: 25px;
	color:White;
	text-align:center;
}


.igdv_Office2007BlackDayHeader
{
	background-color: LightGrey;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border:solid 1px #F4F4F4;
	border-right-color:#999999;
	padding-left:2px;
	height: 20px;
	white-space: nowrap;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igdv_Office2007BlackNonWorkingTimeSlot
{
	background-color:#E8EAEC;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #C7CBD1;
	height: 20px;
}


.igdv_Office2007BlackWorkingTimeSlot
{
	background-color:White;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #C7CBD1;
	height: 20px;
}


.igdv_Office2007BlackAllDayEventArea
{
	background-color:#FAFAFA;
}


.igdv_Office2007BlackAllDayEvent
{
	background-color:#F8D97F;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	padding-left:3px;
	height: 25px;
	white-space: nowrap;
	text-align:center;
}


.igdv_Office2007BlackAppointment
{
	background-color:White;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border:solid 1px #999999;
}


.igdv_Office2007BlackActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_Office2007BlackActivityEdgeLeft
{
	font-size:2px;
	width: 6px;
	cursor:move;
}


.igdv_Office2007BlackTodayHeader
{
	background-repeat:repeat-x;
	background-image: url(images/webschedule/day_header.jpg);
	border-width:0px;
	height: 17px;
	color:Black;
	text-align:left;
}


.igdv_Office2007BlackTimeSlotLabel
{
	background-color:#FAFAFA;
	font-size:16pt;
	font-family: Arial, Helvetica, sans-serif;
	border-right:solid 1px #A8A8A8;
	border-bottom:solid 1px #A8A8A8;
	width: 60px;
	text-align:center;
	vertical-align:top;
}


.igdv_Office2007BlackTimeSlotLabelMinutes
{
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
}


.igdv_Office2007BlackAllDayEventSelected
{
	background-color:#D0D0D0;
	border-top-width:2px;
	border-bottom-width:2px;
}


.igdv_Office2007BlackAllDayEventAreaSelected
{
	background-color:White;
}


.igdv_Office2007BlackActivityHover
{
	z-index: 10000;
}


.igdv_Office2007BlackActivityEdgeBusy
{
	background-color:#C7CBD1;
}


.igdv_Office2007BlackActivityEdgeTentative
{
	background-color:#90C0FF;
}


.igdv_Office2007BlackActivityEdgeOutofOffice
{
	background-color:#900090;
}


.igdv_Office2007BlackActivityEdgeFree
{
	background-color:#F0F0F0;
}


.igdv_Office2007BlackNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 25px;
	vertical-align:middle;
}


.igdv_Office2007BlackSelectedAppointment
{
	z-index: 9999;
}


