.igedit_Office2007BlueControl
{
	background-color:#EAF2FB;
	border: 1px solid #ABC1DE;
}
.igedit_Office2007BlueNormal
{
	
}
.igedit_Office2007BlueHover
{
}
.igedit_Office2007BluePressed
{
}
.igedit_Office2007BlueEditInTable
{
	background-color:#EAF2FB;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	border-width:0px;
}
