.igtbl_BlueGelControl
{
	border:solid 1px #052684;
	cursor:default;
}


.igtbl_BlueGelPagerArea
{
	background-color:WhiteSmoke;
	border-width:0px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}


.igtbl_BlueGelPageCurrent
{
	margin-right:10px;
}


.igtbl_BlueGelPageLink
{
	margin-right:10px;
	color:DimGray;
}


.igtbl_BlueGelGroupByBox
{
	background-position:bottom ;
	background-image: url(images/tab_bottom_f.gif);
	border-bottom:solid 1px #D2D2D2;
}


.igtbl_BlueGelAddNewBox
{
	background-color:WhiteSmoke;
	background-position:bottom ;
	background-image: url(images/addnew.gif);
}


.igtbl_BlueGelItem
{
	background-position:bottom ;
	background-image: url(images/tab_bottom_hover_f.gif);
	border-top:solid 1px Gainsboro;
	border-bottom:solid 1px Transparent;
	height: 30px;
	height: 30px;
}


.igtbl_BlueGelFilterOperandButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(images/submit_disable.gif);
	border-width:0px;
	padding-top:2px;
	width: 18px;
}


.igtbl_BlueGelAlt
{
	background-image: url(images/alt_item.gif);
	border-bottom:solid 1px Transparent;
}


.igtbl_BlueGelEdit
{
	background-color:White;
	font-size:x-small;
	font-family: Verdana;
	border:solid 1px #8DC2D6;
	padding-top:7px;
	text-align:left;
	vertical-align:middle;
}


.igtbl_BlueGelButton
{
}


.igtbl_BlueGelFxdCell
{
}


.igtbl_BlueGelHeader
{
	background-position:center ;
	background-image: url(images/header.gif);
	border-width:0px;
	border-right-width:1px;
	border-right-color:#F0F0F0;
	padding-top:3px;
	padding-bottom:3px;
	height: 35px;
	color:#052684;
}


.igtbl_BlueGelFooter
{
	background-color:#F3F8FB;
	background-image:none;
	border-width:0px;
}


.igtbl_BlueGelLabel
{
	background-color:WhiteSmoke;
	background-image:none;
	border:solid 1px LightGrey;
	border-bottom-width:0px;
	border-left-width:0px;
	height: 30px;
}


.igtbl_BlueGelExpArea
{
	background-color:#F3F8FB;
	background-image:none;
	border-style:solid;
	border-color:Transparent;
	border-top-width:1px;
	padding-top:2px;
	width: 18px;
	text-align:center;
	vertical-align:middle;
}


.igtbl_BlueGelGrpItem
{
}


.igtbl_BlueGelFxdHeader
{
}


.igtbl_BlueGelGroupBandLabel
{
}


.igtbl_BlueGelFxdFooter
{
}


.igtbl_BlueGelDropDown
{
	background-color:WhiteSmoke;
	font-size:xx-small;
	font-family: Verdana;
	border:solid 1px #A6CDE4;
}


.igtbl_BlueGelDropDownSel
{
}


.igtbl_BlueGelSelected
{
	background-color:DimGray;
	background-position:center center ;
	background-image: url(images/header.gif);
	font-weight:bold;
	border-top:solid 1px #E1E1E1;
	color:Black;
}


.igtbl_BlueGelActiveBorderTopBottom
{
	border-top:solid 1px #00178D;
	border-bottom:solid 1px #00178D;
}


.igtbl_BlueGelActiveBorderLeft
{
	border-left:solid 1px #00178D;
}


.igtbl_BlueGelActiveBorderRight
{
	border-right:solid 1px #00178D;
}


.igtbl_BlueGelFilterDropDown
{
}


.igtbl_BlueGelFilterOperandDropDown
{
}


