.igtab_BlueGelControl
{
	background-color:White;
	background-position:bottom ;
	background-image: url(images/addnew.gif);
	border:solid 1px #052684;
}


.igtab_BlueGelControl_Outer
{
	border-left-width:0px;
	border-left-style:solid;
}


.igtab_BlueGelDefaultTab_Top
{
	background-color:#E9F3F8;
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	padding:2px;
	text-align:center;
}


.igtab_BlueGelDefaultTab_Top_Rounded
{
	background-color:Transparent !important;
	font-size:10pt;
	font-family: Tahoma;
	border-style:solid;
	border-width:0px;
	border-bottom-width:1px;
	border-bottom-color:#535353;
	padding:2px 6px 1px 10px;
	height: 100%;
	cursor:pointer;
	color:#052684;
	text-align:center;
}


.igtab_BlueGelDefaultTab_Top_Edge
{
	background-position:right top ;
	font-size:2px;
	padding:0px;
}


.igtab_BlueGelButton
{
}


.igtab_BlueGelDefaultTab_Bottom
{
	background-color:#E9F3F8;
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	padding:2px;
}


.igtab_BlueGelDefaultTab_Bottom_Rounded
{
	background-color:Transparent !important;
	background-repeat:no-repeat;
	background-position:left bottom ;
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	padding:3px 5px 5px 7px;
	height: 100%;
	cursor:pointer;
	color:#052684;
}


.igtab_BlueGelDefaultTab_Bottom_Edge
{
	background-position:right bottom ;
	font-size:2px;
	padding:0px;
}


.igtab_BlueGelDefaultTab_Left
{
	background-color:#E9F3F8;
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	padding:5px 2px 5px 2px;
}


.igtab_BlueGelDefaultTab_Left_Rounded
{
	background-color:Transparent !important;
	background-repeat:no-repeat;
	background-position:left top ;
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	border-top-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	margin-top:0px;
	margin-right:5px;
	margin-bottom:0px;
	padding:5px 0px 0px 4px;
	cursor:pointer;
	color:#052684;
}


.igtab_BlueGelDefaultTab_Left_Edge
{
	background-position:left bottom ;
	font-size:2px;
	padding:3px;
}


.igtab_BlueGelDefaultTab_Right
{
	background-color:#E9F3F8;
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	padding:5px 2px 5px 2px;
}


.igtab_BlueGelDefaultTab_Right_Rounded
{
	background-color:Transparent !important;
	background-repeat:no-repeat;
	background-position:right top ;
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	padding:5px 4px 4px 0px;
	cursor:pointer;
	color:#052684;
}


.igtab_BlueGelDefaultTab_Right_Edge
{
	background-position:right bottom ;
	font-size:2px;
	padding:0px;
}


.igtab_BlueGelButtonHover
{
}


.igtab_BlueGelButtonPressed
{
}


.igtab_BlueGelButtonDisabled
{
}


.igtab_BlueGelHoverTab_Top
{
	background-color:White;
	background-image: url(images/tab_top_hover_f.gif);
}


.igtab_BlueGelSeparator_Top
{
	border-bottom:solid 1px #052684;
	border-top-width:0px;
	border-right-width:0px;
	border-left-width:0px;
}


.igtab_BlueGelHoverTab_Top_Rounded
{
	background-image: url(images/tab_top_hover.gif);
	border-bottom:solid 1px #535353;
	color:Black;
}


.igtab_BlueGelHoverTab_Bottom
{
	background-color:#F0F0FF;
	background-position:bottom ;
	background-image: url(images/tab_bottom_hover_f.gif);
}


.igtab_BlueGelSeparator_Bottom
{
	border-top:solid 1px #535353;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}


.igtab_BlueGelHoverTab_Bottom_Rounded
{
	background-image: url(images/tab_bottom_hover.gif);
	color:Black;
}


.igtab_BlueGelHoverTab_Left
{
	background-color:White;
	background-image: url(images/tab_left_hover_f.gif);
}


.igtab_BlueGelSeparator_Left
{
	border-right:solid 1px #535353;
	border-top-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}


.igtab_BlueGelHoverTab_Left_Rounded
{
	background-image: url(images/tab_left_hover.gif);
	color:Black;
}


.igtab_BlueGelHoverTab_Right
{
	background-color:#F0F0FF;
	background-position:right ;
	background-image: url(images/tab_right_hover_f.gif);
}


.igtab_BlueGelSeparator_Right
{
	border-left:solid 1px #535353;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
}


.igtab_BlueGelHoverTab_Right_Rounded
{
	background-image: url(images/tab_right_hover.gif);
	color:Black;
}


.igtab_BlueGelSelectedTab_Top
{
	background-color:#87BCD8;
	background-image: url(images/tab_top_f.gif);
	border-color:#052684;
	border-bottom-color:Transparent;
	color:#052684;
}


.igtab_BlueGelSelectedTab_Top_Rounded
{
	background-image: url(images/tab_top.gif);
	border-width:0px;
	border-bottom:solid 1px #052684;
	cursor:default;
	color:#052684;
}


.igtab_BlueGelSelectedTab_Bottom
{
	background-color:#87BCD8;
	background-position:bottom ;
	background-image: url(images/tab_bottom_f.gif);
	border-color:#052684;
	border-top-color:#F5FAFC;
	color:#052684;
}


.igtab_BlueGelSelectedTab_Bottom_Rounded
{
	background-image: url(images/tab_bottom.gif);
	cursor:default;
	color:#052684;
}


.igtab_BlueGelSelectedTab_Left
{
	background-color:#87BCD8;
	background-image: url(images/tab_left_f.gif);
	border-right-color:Transparent;
	color:#052684;
}


.igtab_BlueGelSelectedTab_Left_Rounded
{
	background-image: url(images/tab_left.gif);
	border-color:#535353;
	cursor:default;
	color:#052684;
}


.igtab_BlueGelSelectedTab_Right
{
	background-color:#87BCD8;
	background-position:right ;
	background-image: url(images/tab_right_f.gif);
	color:#052684;
}


.igtab_BlueGelSelectedTab_Right_Rounded
{
	background-image: url(images/tab_right.gif);
	cursor:default;
	color:#052684;
}


.igtab_BlueGelDisabledTab_Top
{
}


.igtab_BlueGelDisabledTab_Top_Rounded
{
	color:Gainsboro;
}


.igtab_BlueGelDisabledTab_Bottom
{
	color:Gainsboro;
}


.igtab_BlueGelDisabledTab_Bottom_Rounded
{
	color:Gainsboro;
}


.igtab_BlueGelDisabledTab_Left
{
	color:Gainsboro;
}


.igtab_BlueGelDisabledTab_Left_Rounded
{
	color:Gainsboro;
}


.igtab_BlueGelDisabledTab_Right
{
	color:Gainsboro;
}


.igtab_BlueGelDisabledTab_Right_Rounded
{
	color:Gainsboro;
}


